[Unit]
Description=Claq Radio
After=icecast.service claqradio-backend.service

[Service]
ExecStart=/usr/bin/ices -c /etc/ices/claqradio.conf
User=ices
Group=icecast
Environment=PERLLIB=/etc/ices/modules
Environment=CLAQRADIO_STREAM_URL=http://localhost:3000/private/streams/1
Restart=on-failure
RestartSec=2
StartLimitInterval=300
StartLimitBurst=5
RestartSteps=4
RestartMaxDelaySec=10

[Install]
WantedBy=multi-user.target

